body {
 background-color: rgb(66, 66, 66);
 color: white;
}

#trump #sanders {
  float: right;
  width: 110% !important;
  height: 110% !important;
}

.name {
  font-weight:bold;
  font-size: 26px;
  margin: auto;
}

.img {
  width: 150%;
  height: 150%;
  border-radius: 50%;
  border: 2px solid #fff;
}
